<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>boardDetail</title>
</head>
<body>
<table>
  <tr>
    <th>id</th>
    <td th:text="${board.id}"></td>
  </tr>
  <tr>
    <th>Writer</th>
    <td th:text="${board.boardWriter}"></td>
  </tr>
  <tr>
    <th>Title</th>
    <td th:text="${board.boardTitle}"></td>
  </tr>
  <tr>
    <th>Contents</th>
    <td th:text="${board.boardContents}"></td>
  </tr>

</table>


<div class="container">
  <button class="btn btn-primary" onclick="listReq()">목록</button>
  <button class="btn btn-warning" onclick="req('update')">수정</button>  <!--함수 호출 문자는 싱글 쿼터 -->
  <button class="btn btn-danger" onclick="req('delete')">삭제</button>

</div>
<div id="pass-check">

</div>
</body>
<script th:inline="javascript">

  const listReq = () => {
    location.href ="/board/";
  }


  const req = (value) => {
    console.log("value",value);
      const passCheckArea = document.getElementById("pass-check");  // 공용
      passCheckArea.innerHTML = "<input type=\"text\" id=\"password\" placeholder=\"password\">\n" +
              "    <button class=\"btn btn-outline-dark\"onclick=\"passCheck('" + value + "')\">확인</button>"; <!--문자 호출을 했을때 싱글쿼터 후 더블 쿼터로 -->

  }



  const passCheck = (value) => {
    console.log("value", value);
    const password = document.getElementById("password").value;
    const passDB = [[${board.boardPassword}]];    //스크립트 테스트 파일
    const id = [[${board.id}]];
    if (password == passDB) {
      if (value == "update") {
        location.href = "/board/update" + id;
      } else if (value == "delete") {
        location.href = "/board/delete/" + id;
      }
      } else {
        alert("비밀번호 불일치")
      }



  }
</script>
</html>