<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>boardDetail</title>
</head>
<body>
<table>
  <tr>
    <th>id</th>
    <td th:text="${board.id}"></td>
  </tr>
  <tr>
    <th>Writer</th>
    <td th:text="${board.boardWriter}"></td>
  </tr>
  <tr>
    <th>Title</th>
    <td th:text="${board.boardTitle}"></td>
  </tr>
  <tr>
    <th>Contents</th>
    <td th:text="${board.boardContents}"></td>
  </tr>

</table>
<button class="btn btn-primary" onclick="listReq()">목록</button>
<button class="btn btn-warning" onclick="updateReq()">수정</button>
<button class="btn btn-danger" onclick="deleteReq()">삭제</button>
</body>
<script>
  const listReq = () => {
    location.href="/board/";
  }

  const updateReq = () => {
    location.href ="/board/passUpdate";
  }

  // const deleteReq =() => {
  //   location.href =
  // }

</script>
</html>