<meta charset="UTF-8">
<title>passwordCheck</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>
<body>
<div class="container" id="check-form">
  <form action="updatePass" method="post" name="checkForm">
    <input type="text" id="memberPassword" name="memberPassword" class="form-control" >
    <input type="button" value="삭제(axios)"class="btn btn-warning"  th:onclick="deleteAxios([[${board.boardPassword}}]])">
  </form>
</div>
<script th:inline="javascript">

  const deleteAxios = (findPass) => {
    const password = document.getElementById("memberPassword").value;
    const passwordDB = [[${board.boardPassword}]];
    if (password == passwordDB) {

      axios({
        method: "delete",
        url: "/board/passCheck/"+findPass,
      }).then(res =>{
        alert("수정 성공");
      }).catch(res =>{
        alert("수정 실패 다시 확인하여주세요")
      })

    }
  }
</script>
</body>